In [ ]:
#1
for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#2
n=int(input("Enter number: "))
sum=0
while n>0:
  sum=sum+n
  n-=1
print("Sum of Natural number",sum)

Enter number: 10
Sum of Natural number 55

In [ ]:
#3
n=int(input("Enter number: "))
sum=0
for i in range(1,n+1):
  
  print(i,end=" ")
  sum=sum+i
print()
print("The Sum of Natural Number upto 7 terms :",sum)

Enter number: 8
1 2 3 4 5 6 7
The Sum of Natural Number upto 7 terms : 28

In [ ]:
#4
n=int(input("Enter number: "))
sum=0
for i in range(1,11):
  n=int(input("Enter number: "))
 # print(i,end=" ")
  sum=sum+n
avg=sum/10
#print()
print("The Sum of Natural Number:",sum)
print("The Average of Natural Number:",avg)

Enter number: 56
Enter number: 78
Enter number: 89
Enter number: 45
Enter number: 56
Enter number: 12
Enter number: 54
Enter number: 55
Enter number: 45
Enter number: 45
Enter number: 45
The Sum of Natural Number: 524
The Average of Natural Number: 52.4

In [ ]:
#5
n=int(input("Enter number: "))
for i in range(1,n+1):
  print("Number is: ",i,"and cube of the",i,"is",i*i*i)
  
print()

Enter number: 5
Number is:  1 and cube of the 1 is 1
Number is:  2 and cube of the 2 is 8
Number is:  3 and cube of the 3 is 27
Number is:  4 and cube of the 4 is 64
Number is:  5 and cube of the 5 is 125

In [ ]:
#6
n=int(input("Enter number: "))
for i in range(1,11):
  print(n ,"x", i ,"=",n*i)
  
print()

Enter number: 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [ ]:
#7
x=int(input("Enter number Starting from: "))
y=int(input("Enter number Till: "))
for i in range(x,y):
  for j in range(1,11):

      print(i,"x",j,"=",i*j)
  print()

In [ ]:
#9
n=int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

6
*
* *
* * *
* * * *
* * * * *

In [ ]:
#10
n=int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#11
n=int(input())
for i in range(1,n):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#12
n=int(input())
sum=0
for i in range(1,n):
  for j in range(1,i+1):
    sum+=1
    print(sum,end=" ")
  print()

6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#13
n=int(input())
sum=0
for i in range(1,n):
  for j in range(4,i,-1):
     print('',end=" ")
  for j in range(1,i+1):
    sum+=1
    print(sum,end=" ")
  print()

5
   1
  2 3
 4 5 6
7 8 9 10

In [ ]:
#14
n=int(input())

for i in range(1,n):
  for j in range(4,i,-1):
     print('',end=" ")
  for j in range(1,i+1):
    
    print("*",end=" ")
  print()

5
   *
  * *
 * * *
* * * *

In [ ]:
#15
n=int(input("Enter Factorial number: "))
a=n
fac=1
while n>=1:
  fac=fac*n
  n-=1
print("factorial of",a,"is",fac)

Enter Factorial number: 5
factorial of 5 is 120

In [ ]:
#16
n=int(input("Enter Factorial number: "))
a=n
sum=0
while n>=0:
  if n%2==0:
    sum=sum+n
    n-=1
print("Sum of even number  is",sum)

Enter Factorial number: 100

In [ ]:
#8
n=int(input("Enter the number: "))
print ("The odd numbers are: ")
a=1
sum=0
for i in range(1,n+1):
  print(a,end=" ")
  sum=sum+a
  a+=2
print()  
print("The sum of odd natural number upto 10 terms: ",sum)

Enter the number: 5
The odd numbers are:
1 3 5 7 9
The sum of odd natural number upto 10 terms:  25

In [ ]:
#16
n=int(input("Enter the number: "))
print ("The odd numbers are: ")
a=2
sum=0
for i in range(1,n+1):
  print(a,end=" ")
  sum=sum+a
  a+=2
print()  
print("The sum of odd natural number upto 10 terms: ",sum)

Enter the number: 5
The odd numbers are:
2 4 6 8 10
The sum of odd natural number upto 10 terms:  30

In [ ]:
#17
n=int(input())
sum=0
for i in range(1,n):
  for j in range(4,i,-1):
     print('',end=" ")
  for j in range(1,i+1):
    print(i,end=" ")
  print()

5
   1
  2 2
 3 3 3
4 4 4 4

In [ ]:
#20
n=int(input())
sum=0
for i in range(1,n):
  for j in range(4,i,-1):
     print(' ',end="")
  for j in range(1,i+1):
    print("*",end="")
  for j in range(0,i-1):
    print("*",end="")
  print()

4
   *
  ***
 *****

In [ ]:
#19
n=int(input("Enter number of terms: "))

sum=0
for i in range(1,n+1):
  print("1/",i,"+",end="")
  
  sum+=1/i
print()
print("Sum of Series upto 5 terms: ",'%.6f'%sum)

Enter number of terms: 5
1/ 1 +1/ 2 +1/ 3 +1/ 4 +1/ 5 +
Sum of Series upto 5 terms:  2.283333

In [ ]:
#21
n=int(input("Enter the number: "))
print ("The odd numbers are: ")

sum=9
for i in range(2,n+1):
  print(pow(10,i)-1,end=" ")
  sum+=pow(10,i)-1
print()
  
print("Sum of Series upto 5 terms: ",'%.3f'%sum)

Enter the number: 6
The odd numbers are:
99 999 9999 99999 999999
Sum of Series upto 5 terms:  1111104.000

In [ ]:
#25
n=int(input("Enter number: "))
a=0
for i in range(1,n+1):
  mul=i*i
  print("Number is: ",i,"and Suare of the",i,"is",mul)
  a+=mul
print("Sum is",a)

Enter number: 5
Number is:  1 and Suare of the 1 is 1
Number is:  2 and Suare of the 2 is 4
Number is:  3 and Suare of the 3 is 9
Number is:  4 and Suare of the 4 is 16
Number is:  5 and Suare of the 5 is 25
Sum is 55

In [ ]:
#26
n=int(input("Enter the number: "))
print ("The odd numbers are: ")

sum=1
for i in range(0,n):
  print(pow(10,i)+11,end=" ")
  sum+=pow(10,i)+11
print()
  
print("Sum of Series upto 5 terms: ",'%.3f'%sum)

Enter the number: 5
The odd numbers are:
12 21 111 1011 10011
Sum of Series upto 5 terms:  11167.000

In [ ]:
#22
n=int(input())
sum=0
for i in range(1,n):
  for j in range(1,i+1):
    sum+=1
    if sum%2==0:
      print(1,end="")
    else:
      print(0,end="")
    
    #print(sum%2,end=" ")
  print()

5
0
10
101
0101

In [ ]:
#27
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
    print(i,end=" ")
print("The Positive Divisor is",i)
print("The Sum of Divisor is: ",sum)
if sum==n:
      print("The Number is perfect")
else:
      print("The number is not perfect")

56
1 2 4 7 8 14 28 The Positive Divisor is 55
The Sum of Divisor is:  64
The number is not perfect

input a number: 153
153 is armstrong

In [ ]:
s="10101"
for i in range(4,-1,-1):
  print(s[i:5])

In [ ]:
def fact(n):
  f=1
  while n > 0:
    f*=n
    n-=1
  return f

X = int(input("enter value of X : "))
num = int(input("number of terms : "))
d=0
for i in range(1,num+1):
  p = (i-1)*2
  d += ((-1)**(i-1))*(X**p/fact(p))
print(d)

enter value of X : 5
number of terms : 6
-0.16274663800705413

In [ ]:
#27
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
    print(i,end=" ")

50
1 2 5 10 25

In [ ]:
#28
def perfect_Number(n):
   if n < 1:
      return False

   sum = 0
   for i in range(1,n):
      if n%i==0:
         sum += i
   return sum == n


x = int(input('Print minimum value: '))
y = int(input('Print maximum value: '))


print('Perfect numbers from %d to %d are:' %(x, y))
for i in range(x, y+1):
   if perfect_Number(i):
     print(i, end=', ')

Print minimum value: 1
Print maximum value: 50
Perfect numbers from 1 to 50 are:
6, 28,

In [ ]:
#29
b=int(input("input a number: "))
y=0
x=0
a=b
while a>0:
  x=a%10
  y+=x**3
  a=a//10
if b == y:
  print(b,"is armstrong")
else:
  print(b,"is not an armstrong")

input a number: 153
153 is armstrong

In [ ]:
#30
def armstrong(x):
  a=x
  s=r=0
  while a>=1:
    r=a%10
    s+=r**3
    a//=10
  return x==s

l=int(input("From:"))
m=int(input("To:"))
for i in range(l,m):
  if armstrong(i):
   print(i,end=" ")

From:1
To:1000
1 153 370 371 407

In [ ]:
#31
for i in range(1,6):
  print(" "*(5-i),("*"*(i))+("*"*(i-1)))
for i in range(5,1,-1):
  print(" "*(6-i),("*"*(i-1))+("*"*(i-2)))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
#32
x=int(input("Enter Number "))
if x>1:
  for i in range(2,x):
      if x%i==0:
        print("Not prime no",x)
        break
  else:
      print("prime no",x)
else:
  print("not a Prime no",x)

Enter Number 56
Not prime no 56

In [ ]:
#33

In [ ]:
#34
x=int(input("Enter Number "))
l=[]
if x>1:
  for j in range(2,x):
      for i in range(2,j):
          if j%i==0:
            #print("Not prime no",x)
            break
      else:
          l.append(j)
print("The prime number between 1 and 50 are ")
for k in l:
   print(k,end=" ")

Enter Number 50
The prime number between 1 and 50 are
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#35
x=int(input("Enter Terms"))
n1=0
n2=1
for i in range(0,x):
  nth=n1+n2
  n1=n2
  n2=nth
  print(nth, end=" ")

Enter Terms10
1 2 3 5 8 13 21 34 55 89

In [ ]:
#36
for i in range(1,4):
  for j in range(3-i,0,-1):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")
  for j in range(i-1,0,-1):
    print(j,end="")
  print()

  1
 121
12321

In [ ]:
#37
x=int(input())
r=0
while x>0:
  remainder=x%10
  r=r*10+remainder
  x=x//10
print(r)

12345
54321

In [ ]:
#38
x=int(input("Enter Number: "))
a=x
r=0
while x>0:
  remainder=x%10
  r=r*10+remainder
  x=x//10
if  r == a:
  print(f"{a} is a palindrome")
else:
  print(f"{a} is not a palindrome")

Enter Number: 232
232 is a palindrome

In [ ]:
#39
x=int(input("Start Number "))
y=int(input("End Number "))
for i in range(x,y):
  if i%9==0:
    print(i,end=" ")

Start Number 100
End Number 200
108 117 126 135 144 153 162 171 180 189 198

In [ ]:
#59
n=input()
l=int(n)
a=0
while l>0:
  x=l%10
  a+=x**int(len(n))
  l=l//10

if a==int(n):
  print("Armstrong")
else:
  print("Not Armstrong")

56
Not Armstrong