Create a Vehicle class without any variables and methods

In [ ]:
class vehicle:
  pass

Create a child class Bus that will inherit all of the variables and methods of the Vehicle clas

In [ ]:
class vehicle:

  def __init__(self, name, speed, mileage):
    self.name= name
    self.speed=speed
    self.mileage=mileage

class bus(vehicle):
  pass

b= bus("Bus",100,20)
print("Vehicle :", b.name, "\n speed : ", b.speed,"\n Mileage : ", b.mileage)

Vehicle : Bus
 speed :  100
 Mileage :  20

Write a Program to create a class by name Students, and initialize attributes like name, age, and grade while creating an object.

In [ ]:
class students:
  def __init__(self,name,age, grade):
    self.name= name
    self.age= age 
    self.grade=grade

class Prabal(students):
   pass
  
p=students("Prabal",23,'A')
print(p.name,p.age,p.grade)

Prabal 23 A

Write a Program to create a valid empty class by name Students, with no properties

In [ ]:
class students:
  pass

obj = students()
print(obj)

<__main__.students object at 0x7f7c72d77700>

Write a program to create a child class Teacher that will inherit the properties of Parent class Staff

In [ ]:
class staff:
  def __init__(self, profession, department, salary):
    self.profession = profession
    self.department = department
    self.salary = salary


  def properties(self):
    print("Name : " , self.name)
    print("Age : " , self.age)
    print("Profession : ", self.profession)

class teacher(staff):
  def __init__(self, name, age):
    self.name=name
    self.age= age
    super().__init__("Teacher","IT",300000)

t= teacher("SunnyL",45)
t.properties()

Name :  SunnyL
Age :  45
Profession :  Teacher

Write a Python program that checks if one class is a subclass of another.

In [ ]:
class person():
  def display1(self):
    print("This is superclass")

class employee(person):
  def display2(self):
    print("This is subclass")

e= employee()
e.display1()
e.display2()

This is superclass
This is subclass

In [ ]:
issubclass(employee,person)

True

In [ ]:
issubclass(person,employee)

False

Write a Program to create a class and, using the class instance, print all the writable attributes of that object.

In [ ]:
class A():
  def __init__(a,b,c):
    a.b=b
    a.c=c
class B(A):
  def p(a):
    print(f'{a.b},{a.c}')
  
x= B(1,2)
x.p()

1,2

Create a class Teacher with name, age, and salary attributes, where salary must be a private attribute that cannot be accessed outside the class.

In [ ]:
class teacher():
  def __init__(self,name,age,salary):
    self.name=name
    self.age= age
    self.__salary=salary
  def to_print(self):
    print(f"Name : {self.name}, \n Age : {self.age}, \n Salary : {self.__salary}")

z=teacher("Sweety",24,100)
z.to_print()

Name : Sweety,
 Age : 24,
 Salary : 100

In [ ]:
z.__salary=100000
z.to_print()

Name : Sweety,
 Age : 24,
 Salary : 100

Write a Python program to create an instance of a specified class and display the namespace of the said instance

In [ ]:
class staff():
  def __init__(self,subject):
    self.subject=subject
  def print_it(self):
    print(f"The subject is {self.subject}")
class teacher(staff):
  def __init__(self,name,age,grade,subject):
    staff.subject=subject
    self.name=name
    self.age=age
    self.grade=grade
  def print_it2(self):
    print(f"Name : {self.name} \n Age : {self.age}")

s= teacher("Amar", 80,"C", 'Maths')
s.__dict__

{'name': 'Amar', 'age': 80, 'grade': 'C'}

 Define a Python function student(). Using function attributes display the names of all arguments

In [ ]:
def student(*args):
  return args

print(*(student("student",12,100)))

student 12 100

Write a Python function student_data () which will print the id of a student (student_id). If the user passes an argument student_name or student_class the function will print the student name and class.

In [ ]:
class student():
  def __init__(self,name,classs):
    self.name=name
    self.classs=classs
    print("Student name: ",self.name, "\n Class :  ", self.classs)
  
  def student_data(self):
    count=100
    print("Student Id is : " , count)
    count+=1

s=student("Jonny Bhai", "BE")
s.student_data()

Student name:  Jonny Bhai
 Class :   BE
Student Id is :  100

Write a simple Python class named Student and display its type. Also, display the __dict__ attribute keys and the value of the __module__ attribute of the Student class.

In [ ]:
class student():
  def __init__ (self,name,age,grade):
    self.name = name
    self.age=age
    self.grade= grade

  def to_print(self):
    print(f" Nmae : {self.name} \n Age : {self.age} \n Grade : {self.grade}")
print(type(student))
s = student('ram',23, 'A+')
s2= student('shayam',24,'A++')

print(s.__dict__)
print(s.__dict__.keys())
print(s.__dict__.values())
print(s.__dict__.items())

<class 'type'>
{'name': 'ram', 'age': 23, 'grade': 'A+'}
dict_keys(['name', 'age', 'grade'])
dict_values(['ram', 23, 'A+'])
dict_items([('name', 'ram'), ('age', 23), ('grade', 'A+')])

Write a Python program to create two empty classes, Student and Marks. Now create some instances and check whether they are instances of the said classes or not. Also, check whether the said classes are subclasses of the built-in object class or not.

In [ ]:
class student(list):
  pass
class marks():
  pass

stud= student()
mark = marks()

print(isinstance(stud,student))
print(isinstance(mark,student))
print(isinstance(stud,marks))
print(isinstance(mark,marks))

print(issubclass(student, object))
print(issubclass(marks, object))
print(student.mro())

True
False
False
True
True
True
[<class '__main__.student'>, <class 'list'>, <class 'object'>]

Write a Python class named Student with two attributes: student_name, marks. Modify the attribute values of the said class and print the original and modified values of the said attributes.

In [ ]:
class student():
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def to_print(self):
    print(f"The value of attributes are :\n {self.name}  {self.marks} ")

s= student("Prabal ", 100)
print(s.to_print())

s.name = "New Prabal "
s.marks = 99
print(s.to_print())

The value of attributes are :
 Prabal   100
None
The value of attributes are :
 New Prabal   99
None

Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class and display the entire attribute and their values of the said class. Now remove the student_name attribute and display the entire attribute with values

In [ ]:
class student():
  student_id = '100000'
  student_name= 'Trouble'
print("original attributes are : ")
  
for key, value in student.__dict__.items():
  if not key.startswith('_'): print(f" {key} --> {value}")
student.student_class= 'A'
print('\n After adding attributes are : ')

for key, value in student.__dict__.items():
  if not key.startswith('_'): print(f" {key} --> {value}")
del(student.student_name)
print("\n After removing student name : ")

for key, value in student.__dict__.items():
  if not key.startswith('_'): print(f" {key} --> {value}")

original attributes are :
 student_id --> 100000
 student_name --> Trouble

 After adding attributes are :
 student_id --> 100000
 student_name --> Trouble
 student_class --> A

 After removing student name :
 student_id --> 100000
 student_class --> A

Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class. Create a function to display the entire attribute and their values in Student class.

In [ ]:
class student():
  def __init__(self,name,id):
    self.name = name
    self.id = id

s1= student("Akash" , 69)
s2 = student("Vikash", 70)

for i,j in s1.__dict__.items():
  print(f"{i} -->{j}")
print()

for i,j in s2.__dict__.items():
  print(f" {i}-->{j}")

name -->Akash
id -->69

 name-->Vikash
 id-->70

Write a Python class to find the validity of a string of parentheses, '(', ')', '{', '}', '[' and ']. These brackets must be closed in the correct order, for example "()" and "()[]{}" are valid but "[)", "({[)]" and "{{{" are invalid.

In [ ]:
class bracket():
  def para(self,str):
    ss= {'(',')','{','}','[',']'}
    l=[]
    for i in str:
      if i in ss:
        l.append(i)
      elif len(l)==0 or ss[l.pop()]!=ss:
        return False
      return len(l)==0

print(bracket().para('()[{}]'))

False

Write a Python class to find a pair of elements (indices of the two numbers) from a given array whose sum equals a specific target number.
Note: There will be one solution for each input and do not use the same element twice.
Input: numbers= [10,20,10,40,50,60,70], target=50
Output: 3, 4

In [ ]:
def pair(a, len, s):
  print("Sum of pairs is : ", s)
  for i in range(len):
    for j in range(i, len):
      if (a[i] + a[j]) ==s:
        print(a[i],a[j])

a= [20,10,40,50,60,70]
s=50
print("Array : ", a)
pair(a,len(a),s)

Array :  [20, 10, 40, 50, 60, 70]
Sum of pairs is :  50
10 40

Write a Python class to reverse a string word by word.
Input string : 'hello .py'
Expected Output : '.py hello'

In [ ]:
class reverse():
  def input_string(a):
    a.string= input('Enter a string \t')
  def reverse_string(a):
    s= (a.string.split()[::-1])
    ss=[*set(s)]
    return print("The reversed string is : " , ss)

s= reverse()
s.input_string()
s.reverse_string()

Enter a string 	hello .py
The reversed string is :  ['.py', 'hello']

Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle

In [ ]:
import math as m
class circle:
  def input_parameters(a):
    a.radius= int(input("enter radius \t"))
  def area(a):
    return print(f"Area is {round(m.pi*((a.radius)**2),2)} ")
  def perimeter(a):
    return print(f"Perimeter is {round(2*m.pi*a.radius,2)}")

In [ ]:
c= circle()
c.input_parameters()
c.area()
c.perimeter()

enter radius 	5
Area is 78.54
Perimeter is 31.42

Write a Python class which has two methods get_String and print_String. get_String accept a string from the user and print_String print the string in upper case.

In [ ]:
class ustring():
  def get_string(a):
    a.string = input('Enter a string: ')
  def print_string(a):
    return print(f"String in upper case is : {a.string.upper()} ")

s= ustring()
s.get_string()
s.print_string()

Enter a string: hello world
String in upper case is : HELLO WORLD

Write a Python class named Rectangle constructed by a length and width and a method which will compute the area of a rectangle

In [ ]:
class rect:
  def __init__(self, length,width):
    self.length = length 
    self.width =  width 
  def area(self):
    return print(f"Area of the rectangle is : {round((self.length* self.width),2)}")

r=rect(10,20)
r.area()

Area of the rectangle is : 200