1. Write a function that takes in two numbers and returns their sum. 

2. Write a function that takes in an array of numbers and returns the sum of all the numbers.

3. Write a function that takes in a string and returns the reverse of the string
 
4. Write a function that takes in an array of strings and returns a new array with all the strings capitalized. 

5. Write a function that takes in a number and returns true if the number is even and false if it is odd. 

6. Write a function that takes in an array of numbers and returns the largest number in the array 

7. Write a function that takes in an array of numbers and returns a new array with only the even numbers

8. Write a function that takes in a string and returns true if the string is a palindrome (reads the same backwards and forwards) and false otherwise 

9. Write a function that takes in an array of strings and returns a new array with all the strings sorted in alphabetical order 

10. Write a function that takes in a number and returns the factorial of that number (the product of all positive integers up to and including that number). 

11. Write a function that takes in two strings and returns true if they are anagrams (contain the same letters in a different order) and false otherwise.

12. Write a function that takes in an array of numbers and returns the second smallest number in the array. 

13. Write a function that takes in an array of strings and returns a new array with all the strings that are palindromes. 

14. Write a function that takes in an array of numbers and returns a new array with all the numbers sorted in descending order. 

15. Write a function that takes in a number and returns true if it is a prime number (only divisible by 1 and itself) and false otherwise.

In [ ]:
#Write a function that takes in two numbers and returns their sum.

def sum(a,b):
  return sum(2,3)

5

In [ ]:
#Write a function that takes in an array of numbers and returns the sum of all the numbers.
import builtins

def sum_a(a):
  return builtins.sum(a)

In [ ]:
arr=[1,2,3,4,5]
total= sum_a(arr)
print(total)

15

In [ ]:
#Write a function that takes in a string and returns the reverse of the string
def reverse_string(x):
  return str(x[::-1])

In [ ]:
s='prabal'
reverse_string(s)

'labarp'

In [ ]:
#Write a function that takes in an array of strings and returns a new array with all the strings capitalized.
def tocapital(arr):
  lst=[x.upper() for x in arr]
  return lst

z=["Prabal", "Gaurav", "Abhijit"]
tocapital(z)

['PRABAL', 'GAURAV', 'ABHIJIT']

In [ ]:
#Write a function that takes in a number and returns true if the number is even and false if it is odd
def even_odd(n):
  return ('even' if n%2==0 else 'odd')

n=int(input('enter a number: '))
even_odd(n)

enter a number: 6

'even'

In [ ]:
#Write a function that takes in an array of numbers and returns the largest number in the array

def largest(n):
  max=n[0]
  for i in range(0,len(n)):
    if (n[i]>max):
      max=n[i]
      
  return max

l=[1,2,3,4,5,6]
largest(l)

6

In [ ]:
#Write a function that takes in an array of numbers and returns a new array with only the even numbers\

def even_array(arr):

  new_arr=[x for x in arr if x%2==0 ]
  return new_arr

arr=[1,2,3,4,5,6]
even_array(arr)

[2, 4, 6]

In [ ]:
#Write a function that takes in a string and returns true if the string is a palindrome (reads the same backwards and forwards) and false otherwise.
#using slicing

def palindrom(z):
  return z==z[::-1]

name="Prabal"
palindrom(name)

False

In [ ]:
#or
#reversing string

def palindrom_r(s):
  rev=''.join(reversed(s))
  return s==rev

s='malayalam'
palindrom_r(s)

True

In [ ]:
#or
#using another variable

def palindrom_a(s):
  a=''
  for i in s:
    a+=i
  return s==a

s='malayalam'
palindrom_a(s)

True

In [ ]:
#Write a function that takes in an array of strings and returns a new array with all the strings sorted in alphabetical order

def sorted_a(a):
  return sorted(a)

s=['Prabal','Aman','Rahul','BV Sailesh', 'Sumit']
sorted_a(s)

['Aman', 'BV Sailesh', 'Prabal', 'Rahul', 'Sumit']

In [ ]:
#Write a function that takes in two strings and returns true if they are anagrams (contain the same letters in a different order) and false otherwise.

def anagrams(a,b):
  return sorted(a)==sorted(b)

a='prabal'
b='pandey'
anagrams(a,b)

False

In [ ]:
# using hash map

def anagram_1(a,b):
  
  if (len(a)!=len(b)):
    return False

  map={}

  #for 1st string
  for i in range(len(a)):

    if (a[i] in map):
      map[a[i]]+= 1
    else:
      map[a[i]]=1

  #for 2nd string
  for j in range(len(b)):
    if(b[j] in map):
      map[b[j]] -=1
    else:
      return False

  keys=map.keys()

  for key in keys:
    if (map[key!=0]):
      return False
  else:
    return False

In [ ]:
a='prabal'
b='pandey'

if (anagram_1(a,b)):
  print('Anagram')
else:
  print('Not an Anagram')

Not an Anagram

In [ ]:
#Write a function that takes in an array of numbers and returns the second smallest number in the array.

def second_l(n):
  n.sort()
  return n[-2]

n=[2,3,1,4,5,11,21]
second_l(n)

11

In [ ]:
#Write a function that takes in an array of strings and returns a new array with all the strings that are palindromes

def s_palindrom(s):
  for i in range(0,len(s)):
    if (s[i]==s[i][::-1]):
      print("Palindrom")
    else:
      print("Not a palindrom")

s=["jahaj", "Apple","malayalam","done"]
s_palindrom(s)

Palindrom
Not a palindrom
Palindrom
Not a palindrom

In [ ]:
#Write a function that takes in an array of numbers and returns a new array with all the numbers sorted in descending order.

def sorted_num(n):
  s=sorted(n,reverse= True)
  return s

n=[12,2,4,1,3,]
sorted_num(n)

[12, 4, 3, 2, 1]

In [ ]:
#Write a function that takes in a number and returns true if it is a prime number (only divisible by 1 and itself) and false otherwise.

from math import sqrt

def prime(n):
  if n>1:

    for i in range(2,int(sqrt(n))+1):
      if n%i==0: 
        return False
        break
    else:
      return True
  else:
    return False

n=int(input('enter a number: '))
prime(n)

enter a number: 7

True